page-login {

    .contain-items{
   
    }
    .logo-login{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
    }

}
.content{
    background: url('../../assets/imgs/02gausswater.png');
    background-size: cover;
    
}
.text-article{
    font-family: 'centurygothic' !important;
}

