page-siparislerim {


    .card-s{
        border-radius: 5px;
    }
    .segment-profile{
        font-family: 'centurygothic' !important;
    }
.profil-header{
    text-align: center;
}
   
    ion-title{

    }
    
   

}
