page-adreslerim {


    .profil-card{
        background-color: rgba(0, 0, 0, 0.0);
    }
    .segment-profile{
        font-family: 'centurygothic' !important;
    }
    .profile-name{
        font-size: 1.5em;
        text-align: center;
        margin-top: 5%;
    }

}
