page-telefon-giris {

    
    
}
.toolbar-background {
    //background: #3268BE;
    background: #00aeff;
    }
.content{
    background: url('../../assets/imgs/02gausswater.png');
    background-size: cover;
    
}
.text-article{
    font-family: 'cent-g' !important;
    
}
.contain-items{
    padding-top: 50%;
}
.text-input{
    color: black;
}


