page-onay-kodu {

}
.content{
    background: url('../../assets/imgs/02gausswater.png');
    background-size: cover;
    
}
.text-article{
    font-family: 'centurygothic' !important;
    color: black;
}
.contain-items{
    padding-top: 50%;
}
